// color text
$color-text-primary: #fff;
$color-text-brown: #dfb55e;
$color-text-black: rgb(17, 17, 17);
$color-text-white-light: rgba(255, 255, 255, 0.8);
$color-text-grey: rgba(17, 17, 17, 0.5);
$color-text-grey-2: #11111180;
$color-text-black-2: rgba(43, 43, 43, 1);
// bg color
$bg-primary: rgb(17, 17, 17);
$bg-secondary: #f9f9f5;
$bg-brown: #dfb55e;
$bg-yellow: #e9b44a;
$bg-black-1: rgba(255, 255, 255, 0.1);
$bg-black-2: #222221;
$bg-white: rgba(255, 255, 255, 1);
$bg-gray: #d9d9d9;
$bg-blue: rgba(24, 119, 242, 1);
// line-height

// letter space
$letter-space-1: 14.4px;
$letter-space-2: 16px;
$letter-space-3: 3.2px;
// border
$border-color-white: #fff;
$border-color-yellow: rgba(245, 177, 30, 1);
$border-color-yellow-2: #e9b44a;
$border-color-black: rgb(32, 25, 25);
