@tailwind base;
@tailwind components;
@tailwind utilities;

/* gill sans normal */
/* @font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill-Sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill-Sans-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill-Sans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill-Sans-Bold-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill-Sans-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill-Sans-Heavy-Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
} */
/* end gill sans */
/* @font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Light.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-LightItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Medium.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Medium.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-MediumItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-Medium.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/GillSansMTPro-MediumItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
} */

/* open sans */
/* @font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
} */

/* Noto sans */
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/Noto-sans/NotoSans-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Inter font */
/* @font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */
