.crt-frame {
  min-height: 100vh;
  // width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;

  &-ct {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  &-process {
    height: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: $bg-gray;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
    &-bar {
      display: flex;
      border-radius: 5px;
      background-color: $bg-primary !important;
      height: 100%;
      -webkit-animation: 1s linear infinite progress-bar-stripes;
      animation: 1s linear infinite progress-bar-stripes;
    }
    &-bar-striped {
      background-image: -o-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: 1rem 1rem;
    }
  }

  &-cropper {
    width: 100%;
    aspect-ratio: 1;
    background-image: url("/assets/images/bg-frame.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1.5rem;
    position: relative;
    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/item-frame.png");
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;
    }
    &-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/bg-frame-border.png");
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;
    }
  }

  .cropper-view-box {
    outline: transparent !important;
    outline-color: transparent !important;
  }
  .cropper-dashed {
    border: 0 dashed transparent !important;
  }
  .cropper-line {
    background-color: transparent !important;
  }
  .cropper-point {
    background-color: transparent !important;
  }

  &-label-mobile {
    border-radius: 5px;
    width: max-content;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    pointer-events: none;
    text-align: center;
    animation: pulse 2s ease-in-out infinite;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
